@import 'src/assets/scss/core/variables';

.table {
  border-collapse: collapse;
  text-align: start;
  table-layout: fixed;
  flex: 1 1 auto;
  &__one_page {
    margin-bottom: 60px;
  }
}

.head {
  &__row {
    padding: 5px 10px;
    text-align: justify;
  }
  &__button {
    margin: 0 auto;
    font-weight: 300;
  }
}
