@import '../../assets/scss/core/variables';

.table {
  border-collapse: collapse;
  text-align: start;
  table-layout: fixed;
  min-height: 390px;
}

.head__row_item {
  padding: 5px;
  text-align: justify;
}
