@import 'src/assets/scss/core/variables';

.row {
  &__item {
    padding: 5px 10px;

    &:nth-child(1) {
      width: 15%;
    }
    &:nth-child(2) {
      width: 15%;
    }
    &:nth-child(3) {
      width: 25%;
    }
    &:nth-child(4) {
      width: 25%;
    }
    &:nth-child(5) {
      width: 10%;
    }
    &:nth-child(6) {
      width: 5%;
    }
    &:nth-child(7) {
      width: 5%;
    }
    &_dot {
      display: flex;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 auto;
      &_access {
        background-color: green;
      }
      &_denied {
        background-color: red;
      }
    }
    &_icon {
      display: flex;
      margin: auto;
      cursor: pointer;
    }
  }
}

.modal {
  &_enter_active {
    animation: ModalApper 0.4s ease-in;
  }
  &_enter_done {
    backdrop-filter: blur(2px);
    transition: backdrop-filter 0.2s ease-in;
  }
  &_exit_active {
    animation: ModalDisapper 0.4s ease-in forwards;
  }
}

@keyframes ModalApper {
  from {
    transform: translateY(30%) scale(0.5);
  }
  to {
    transform: translateY(0%) scale(1);
  }
}

@keyframes ModalDisapper {
  from {
    transform: translateY(0%) scale(1);
  }
  to {
    transform: translateY(30%) scale(0);
  }
}
