@import 'src/assets/scss/core/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  &__title {
    color: $color-text-main;
  }
}

.modal {
  &_enter_active {
    animation: ModalApper 0.4s ease-in;
  }
  &_enter_done {
    backdrop-filter: blur(2px);
    transition: backdrop-filter 0.2s ease-in;
  }
  &_exit_active {
    animation: ModalDisapper 0.4s ease-in forwards;
  }
}

@keyframes ModalApper {
  from {
    transform: translateY(30%) scale(0.5);
  }
  to {
    transform: translateY(0%) scale(1);
  }
}

@keyframes ModalDisapper {
  from {
    transform: translateY(0%) scale(1);
  }
  to {
    transform: translateY(30%) scale(0);
  }
}
